.line {
  border-bottom: 1px solid $grey;
  max-width: 95%;
}

.text-wrapper {
  margin-top: 20px;
  padding: 10px;
}

.header-section {
  position: relative;
  padding: 10px;
  top: 8px;
  background: $dirty-white;
}

.icon {
  position: relative;
  top: 8px;
  right: 10px;
  float: right;
  background-color: $dirty-white;
}

// INTRO

#intro {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.hello {
  font-size: 70px;
  font-family: 'Cookie', cursive;
}

.me {
  font-size: 22px;
  padding-top: 20px;
}

.headline {
  color: $red;
  font-size: 25px;
  padding: 10px;
  font-weight: 600;
}

.sub-headline {
  font-size: 18px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

// ABOUT

#about {
  padding: 10px;
  padding-bottom: 100px;
}

.sub-headline-about {
  text-align: center;
  padding-top: 30px;
}

.line-about {
  border-bottom: 1px solid $blue-bright;
}

.icon-about, .header-section-about {
  color: $blue-bright;
}

.block-about {
  width: 90%;
  padding: 10px;
  border: 1px solid $grey-light;
  border-radius: 6px;
  margin-top: 5px;

}

.block-about-icon {
  float: right;
  color: $grey-light;
}

.block-about-label {
  font-weight: bold;
}

.block-about-input {
  display: none;
}

.block-about-text {
  max-height: 0;
  overflow: hidden;
  line-height: 18px;
  transition: all .14s ease;
   mark {
    background-color: #E4F4FF;
  }
}

.block-about-input:checked ~ .block-about-text{
  max-height: 500px;
  padding-top: 15px;
  p {
    padding-top: 5px;
  }
}

// SKILLS

#skills {
  padding: 10px;
}

.icon-skills, .header-section-skills {
  color: $green;
}

.line-skills {
  border-bottom: 1px solid $green;
}

.skills-wrapper {
  margin: auto;
  text-align: center;
}

.chart {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 80px;
  height: 80px;
  padding-top: 35px;
  font-size: 16px;
  font-weight: bold;
  color: $green;

  canvas {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.chart-smaller {
  font-size: 13px;
}

.chart-wrapper {
  margin-top: 50px;
}

// CODE

// CONTACT
