
.section-wrapper {
  margin-top: 40px;
  padding: 10px;
  @media (min-width: 740px) {
    margin-top: 60px;
  }
}

.header-section {
  position: relative;
  padding: 10px;
  top: 8px;
  background: $dirty-white;
  font-size: 16px;
}

.icon {
  position: relative;
  top: 8px;
  right: 10px;
  float: right;
  background-color: $dirty-white;
}

section {
  padding-top: 10px;
  @media (min-width: 740px) {
    padding-top: 30px;
  }
}

// INTRO

#intro {
  margin: 100px 0 50px 0;
  text-align: center;
  @media (min-width: 740px) {
    line-height: 35px;
  }
}

.intro-hello {
  font-size: 70px;
  font-family: 'Cookie', cursive;
  @media (min-width: 740px) {
    font-size: 85px;
  }
}

.intro-me {
  padding-top: 20px;
  font-size: 22px;
  @media (min-width: 740px) {
    padding-top: 40px;
  }
}

.intro-headline {
  padding: 10px;
  font-size: 25px;
  color: $red;
  @media (min-width: 740px) {
    font-size: 36px;
  }
}

.intro-sub-headline {
  margin-bottom: 20px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: normal;
  @media (min-width: 740px) {
    font-size: 18px;
  }
}

.intro-profile-img {
  border-radius: 50%;
  margin: 20px;
}

.download-btn {
  padding: 10px;
  border: 1px solid $red;
  color: $red;
  font-size: 14px;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: bold;
}

.download-btn:hover {
  opacity: 0.7;
}

// ABOUT

#about {
  padding-bottom: 30px;
}

.sub-headline-about {
  text-align: center;
  padding-top: 30px;
}

.line-about {
  border-bottom: 1px solid $blue-bright;
}

.icon-about, .header-section-about {
  color: $blue-bright;
}

.block-about {
  display: block;
  width: 90%;
  padding: 15px;
  border: 1px solid $grey-light;
  border-radius: 6px;
  margin: auto;
  margin-top: 5px;
  &:hover {
    cursor: pointer;
  }
}

.block-about-icon {
  float: right;
  color: $grey-light;
}

.block-about-input {
  display: none;
}

.block-about-label {
  text-transform: uppercase;
}

.block-about-text {
  max-height: 0;
  overflow: hidden;
  line-height: 20px;
  transition: all .14s ease;
  &:hover {
    cursor: auto;
  }
  mark {
    background-color: $blue-bright-ligher;
  }
}

.block-about-input:checked ~ .block-about-text {
  max-height: 500px;
  padding-top: 15px;
  p {
    padding-top: 5px;
    padding-bottom: 5px;
    a {
      text-decoration: underline;
    }
  }
}

// SKILLS

#skills {
  margin-bottom: 10px;
}

.icon-skills, .header-section-skills {
  color: $green;
}

.line-skills {
  border-bottom: 1px solid $green;
}

.skills-wrapper {
  margin: auto;
  text-align: center;
}

.chart-wrapper {
  margin-top: 50px;
  @media (min-width: 740px) {
    margin-top: 70px;
  }
}

.chart {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 80px;
  height: 80px;
  padding-top: 35px;
  font-size: 16px;
  font-weight: bold;
  color: $green;

  canvas {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.chart-smaller {
  font-size: 13px;
}

// CODE
#code {
  margin-bottom: 50px;
}

.icon-code, .header-section-code {
  color: $yellow;
}

.line-code {
  border-bottom: 1px solid $yellow;
}

.project-block {
  width: 300px;
  text-align: center;
  border: 1px solid $grey-light;
  border-radius: 6px;
  position: relative;
  display: inline-block;
  margin-top: 20px;
  img {
    position: relative;
    top: 10px;
  }

}
.project-block:hover {
  border: 2px solid $yellow;
}

.project-title {
  padding: 25px 0 10px 10px;
  font-size: 18px;

}

.project-title:hover {
  color: black;
}

.technology-wrapper {
  padding: 10px 5px;
}

.technology-wrapper:after {
  clear: both;
  content: "";
  display: table;
}

.technology-item {
  float: left;
  padding: 5px;
  margin: 2px;
  border: 2px solid $yellow;
  border-radius: 6px;
}

.project-block-wrapper {
  -webkit-column-width: 320px;
  -moz-column-width: 320px;
  column-width: 320px;
  column-gap: 15px;
  text-align: center;
}

// CONTACT
#contact {
  margin-bottom: 50px;
  color: $grey;
}

.icon-contact, .header-section-contact, .icon-social {
  color: $red;
}

.icon-social:hover {
  opacity: 0.9;
}

.line-contact {
  border-bottom: 1px solid $red;
}

.contact-social-wrapper {
  padding-top: 30px;
}

.icon-social {
  padding: 5px;
}

.contact-detail-wrapper {
  margin-left: 5px;
}

.contact-detail-item {
  line-height: 25px;
}

.contact-detail-intro {
  padding-bottom: 5px;
  color: $red;
}

.icon-contact-detail {
  padding-right: 10px;
}

